.breadcrumbs {
  &__list {
    display: inline-flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__item {
    font-size: 12px;
    color: var(--white-color);
    position: relative;
    flex-shrink: 0;
    transition: color 0.3s ease;
    text-decoration: underline;

    &:not(:last-child) {
      padding-right: 14px;
      margin-right: 8px;

      &:after {
        content: '>';
        position: absolute;
        right: 0;
      }
    }

    &--active {
      text-decoration: none;
    }
  }
}