.button-blue {
  border-radius: 26px 26px 26px 0;
  padding: 18px 30px;
  background: var(--blue-light-color);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: var(--blue-color);
}