.button-red {
  border-radius: 26px;
  padding: 18px 30px;
  background: var(--red-color);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: var(--white-color);
}
