.project-card {
  &__link {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
  }

  &__img-wrap {
    max-width: 265px;
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 24px 16px;
  }

  &__year {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    margin-top: auto;
  }
}