:root {
  // base
  --font-family: "Montserrat", sans-serif;
  --content-width: 1348px;
  --content-width-large: 1690px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-width-large: calc(var(--content-width-large) + (var(--container-offset) * 2));

  // colors
  --white-color: #fff;
  --red-color: #B70000;
  --blue-color: #0073e8;
  --blue-light-color: #e8f3ff;
  --gray-color: #ededed;
}